<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes - Ropa Deportiva</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Ropa Deportiva</div>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="novedades.html">Novedades</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html">Carrito de Compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Galería</h1>
        <div class="gallery">
            <img src="static/images/terminator.jpg" alt="terminator">
            <img src="static/images/adonys.jpg" alt="adonys">
            <img src="static/images/adoniscreed.jpg" alt="adoniscreed">
            <img src="static/images/busomujer.jpg" alt="busomujer">
            <img src="static/images/gymshark.jpg" alt="gymshark">
            <img src="static/images/esmediaz.jpg" alt="esmediaz">
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Ropa Deportiva. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
