<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Ropa Deportiva</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/scripts.js"></script>
</head>
<body onload="showWelcomeMessage()">
    <header>
        <nav>
            <div class="logo">Ropa Deportiva</div>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="novedades.html">Novedades</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="carrito.html">Carrito de Compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Bienvenidos a Tienda de Ropa Deportiva</h1>
            <p>Explora nuestra increíble selección de ropa deportiva.</p>
            <a href="productos.html" class="btn">Descubre Más</a>
        </section>
        <section class="features">
            <div class="feature">
                <h2>Ropa Deportiva de Alta Calidad</h2>
                <p>Descubre nuestra impresionante y única colección de ropa deportiva.</p>
            </div>
            <div class="feature">
                <h2>Ofertas Especiales</h2>
                <p>Aprovecha nuestras ofertas especiales y descuentos en productos seleccionados.</p>
            </div>
            <div class="feature">
                <h2>Galería de Fotos</h2>
                <p>Admira las imágenes de nuestra ropa deportiva en acción.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Ropa Deportiva. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
